@font-face {
  font-family: 'Open Sans';
  src: url(opensans.ttf);
}

:root {
  --fontti-perhe: 'Open Sans';
  --fontti-koko-otsikko: 20px;
  --fontti-koko-leipäteksti: 14px;
  --ikoni: 20px;
  --väli-x1: 4px;
  --väli-x2: 8px;
  --väli-x3: 16px;
  --väli-x4: 24px;
  --väli-x5: 32px;
  --väri-musta: #1A1D20;
  --väri-valkoinen: #FFFFFF;
}

body {
  font-family: var(--fontti-perhe);
  margin: 0;
  background: linear-gradient(to right, #a4e0a9, #49a03e, #078117);
}

header {
  display: flex;
  width: 100%;
  height: 100px;
}

h1 {
  display: flex;
  font-weight: bold;
  padding-right: var(--väli-x5);
}

a {
  color: var(--väri-musta);
  text-decoration: none;
}

a:hover {
  color: #940d60;
  text-decoration: none;
  cursor: pointer;
}